#Selection-View-Container{
    width: 80%;
    margin: 0 auto;
    
    background-color: rgb(13, 62, 79)/*rgb(123, 148, 157)/*rgb(32, 71, 92) /*!important*/;
    
    color: white !important;
}

#Selection-Table
{
    width: 100%;/*95%;*/
    border: 6px/*10px*/ solid rgb(36, 98, 109);/*rgb(0, 157, 184);/*#009db8;*/
    margin: 0 auto;
    text-align: center;
}
/*
#Selection-Table thead
{
    border: 5px #ffffff solid;
}
*/
#Selection-Table tbody tr:not(.Option-Table-Raw)
{
    /*border: 5px #ffffff solid;*/
    line-height: 35px;
}
/*
#Selection-Table tbody > tr:first-child
{
    border-bottom: none !important;
}
*/
.Selection-Table-Raw
{
    border: 5px #ffffff solid;
    border-bottom: none !important;
}

.Slider-Options-Button:hover
{
    cursor: pointer;
    color: lightgreen;
}

.Slider-Open:hover
{
    color: orangered !important;
}


#Selection-Table input
{
    font-family: verdana !important;
    font-size: 10pt;
}

.Option-Table-Holder
{
        background-color: rgb(32, 71, 92) !important;
    font-family: verdana;
    font-size: 8pt;
    background-color: #3a6f82;
    background-color: rgb(0, 157, 184) !important;/*#009db8 !important;*/
    background-color: rgb(36, 98, 109) !important;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.
{
        background-color: #3a6f82;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.Option-Table-Raw
{
        background-color: rgb(36, 98, 109);/*rgb(0, 157, 184);/*#009db8;*/
        
}

.Option-Table-Holder
{
    display: none;
}





.Holder-Selection-Editor
{
    position: absolute;
    background-color: #154e58;
    top: 25%;
    height: 100%;/*50%;*/
    width: 90%;
    left: 5%;
}


.Selection-Option-Table
{
    width: 95%;
    margin: 0 auto;
    border: 5px #ffffff solid;
}

.Selection-Option-Table th:first-child:before
{
    content: '';
    margin-left: 5px;
}

.Selection-Option-Table thead
{
    background-color: #0d3e4f;
}

.Selection-Option-Table th,.Selection-Option-Table td
{
    border: 1px solid #154e58;
    text-align: center;
}

.Selection-Option-Table tbody
{
    color: #0d3e4f;
    background-color: white;
}

.Selection-Option-Table tbody tr
{
    line-height: 40px;
}
/*
.Selection-Option-Table tbody td:before,.Selection-Option-Table tbody td:after
{
    /*border: 1px solid grey;
    content: '';
    margin-left: 2px;
}*/

.Translation-Box-Container
{
    display: none;
    line-height: normal;
    /*position: relative;
    top: 10%;
    width: 80%;
    left: 10%;*/
    /*height: 100%;/*80%;*/
    
    background-color: white;/*#39808c;*/
    /*border: #154e58 solid 2px;
    border-radius: 10px 10px;*/
}

.Translation-Box-Container table
{
    margin: 0 auto;
    width: 95%;
    font-size: 10pt;
    background-color: white;
}

.Translation-Box-Container table:hover
{
    background-color: white !important;
}

.Translation-Box-Container table thead th:first-child
{
    width: 10%;
}

.Translation-Box-Container table thead th:nth-child(2)
{
    width: 15%;
}

.Translation-Box-Container table tbody
{
    color: #104e64;
    font-family: verdana;
    line-height: 20px;

}

.Translation-Box-Container table tbody tr:hover
{
    /*background-color: #39808c;*/
}

.Translation-Box-Container table tbody tr input
{
    border: none;
    width: 99%;
    background-color: transparent;
}

.Translation-Box-Container table tbody tr input:focus
{
    outline: none;
}

.Translation-Box-Container table tbody td img
{
    width: 40px;
    height: 30px;
}

.Translate-Box-Table tr
{
    line-height: inherit !important;
}

.Translation-Box-Buttons
{
    /*position: absolute;*/
    /*bottom: 5px;*/
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    
    
}

.Translation-Box-Button-Item
{
    display: inline-block;
    color: white;
    width: 100px;
    line-height: 20px;
    
    background-color: #104e64;
}

.Translation-Box-Button-Item:hover
{
    cursor: pointer;
    /*background-color: #ff6000;/*white;*/
    color: #ff6000;/*white;/*#104e64;*/
}

.Translation-Submit
{
    
}

.Translation-Cancel
{
    /*position: absolute;
    right: 0;*/
}

.Translation-Box-Container table thead tr
{
    line-height: 20px;
}