#loginTable
{
	margin-left:auto;
	margin-right:auto;
	font-size:14px;
}

#nTable
{
	margin-left:auto;
	margin-right:auto;
	font-size:14px;
}

#acTable
{
	font-size:10px;
	text-align:left;
	width:100%;
}


#iTable
{
	/*margin-left:auto;
	margin-right:auto;*/
	font-size:12px;
	text-align:center;

	/*width:100%;*/
}

#iTable td
{
    width: 15%;
}

.LogsTable
{
	margin-left:auto;
	margin-right:auto;
	font-size:14px;

	text-align:center;

	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}

td.LogsTable
{
	border-witdh: 1px;
	border-style: none solid dotted solid;
}

hr.LogsT
{
	width:100%;
}

td.ac:hover
{
	background-color:#a1a1a1;
	cursor:pointer;
}

#chat_list_table
{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

tr.cl:hover
{
	background-color:#f68243;
	cursor:pointer;
	box-shadow:0px 0px 4px #f68243;
}