<div id="CreditsContainer">
            <div id="Credit" style="left: 125px;">
                <div id="CreditTitle"><img src="public/img/credits.png" alt="Credits" /></div>
    			<div id="CreditContent">
                    <section class="Credits">
                        <div class="CreditsData">Liad</div>
                        <div class="CreditsData">Code, Slice</div>
                    </section>
    
                    <section class="Credits">
                        <div class="CreditsData">Matan</div>
                        <div class="CreditsData">Code, Slice</div>
                    </section>
    
                    <section class="Credits">
                        <div class="CreditsData">BunjiDesign</div>
                        <div class="CreditsData">Design</div>
    				</section>
    			</div>
            </div>
        </div>