                </div>
            </div>
        </div>        
    
        <div class="ui-dialog ui-widget ui-widget-content ui-corner-all" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-reason_form" style="display: none; z-index: 1000; outline: 0px;">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                <span class="ui-dialog-title" id="ui-dialog-title-reason_form">Reason</span>
                <a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button">
                    <span class="ui-icon ui-icon-closethick">close</span>
                </a>
            </div>
            <div id="reason_form" class="ui-dialog-content ui-widget-content" style="display: block;">
        		<input type="text" name="reason_form_reas" id="reason_form_reas" class="text ui-widget-content ui-corner-all" />
        		<input type="hidden" id="reason_form_url" value="" />
        		<input type="hidden" id="reason_form_type1" value="" />
        		<input type="hidden" id="reason_form_type2" value="" />
        		<input type="hidden" id="reason_form_rs" value="" />

        		<div id="reason_form_error" class="ui-state-highlight">
        			<span class="ui-icon ui-icon-alert" style="float: left; margin-left: 5px;"></span>
        			<div id="reason_form_error_txt"></div>
        		</div>
                <div id="reason_form_button_holder">
        			<div id="reason_form_button_send" class="reason_form_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                        <span class="ui-button-text">Send</span>
                    </div>
        			<div id="reason_form_button_cancle" class="reason_form_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                        <span class="ui-button-text">Cancel</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="dialog_window_minimized_container"></div>
    </body>    
</html>